<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../favicon.ico" />
	<title>Cadastrar um novo Funcionário </title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
</head>

<body>
	<div id="app">
		<header>
			<nav class="navbar navbar-light bg-light">
				<h4 class="p-3">
					{{ editando ? 'Atualização de funcionário' : 'Cadastro de funcionário' }}	
				</h4>
			</nav>
		</header>

		<section class="container mt-5 ml-2">
			<div class="alert alert-danger" v-if="alertaErro">Preencha todos os campos.</div>
			<div class="alert alert-success" v-if="alertaSucesso">Funcionario salvo com sucesso.</div>

			<form v-if="!cadastrandoSetor" class="pt-5">
				<div class="row mt-4">
					<div class="col-9">
						<div class="form-group">
							<label for="nome">Nome</label>
							<input type="text" v-model="funcionario.nome" class="form-control" id="nome">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label for="salario">Salário</label>
							<input type="number" v-model="funcionario.salario" class="form-control" id="salario">
						</div>
					</div>
					<div class="col-1">
						<div class="form-group">
							<label for="idade">Idade</label>
							<input type="number" v-model="funcionario.idade" class="form-control" id="idade">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" v-model="funcionario.email" class="form-control" id="email">
						</div>
					</div>
					<div class="col">
						<label>Setor</label>
						<div class="input-group">
							<select v-model="funcionario.setor.id" class="custom-select">
								<option v-for="setor in setores" v-bind:value="setor.id">
									{{ setor.nome }}
								</option>
							</select>
							<div class="input-group-append">
								<button v-on:click="cadastrandoSetor = true, alertaErro = ''" class="btn btn-outline-secondary" 
										type="button">Novo Setor</button>
							</div>
						</div>
					</div>
				</div>

				<div class="mt-2">
					<a v-if="!editando" class="btn btn-outline-dark" href="/funcionarios">Voltar</a>
					<a v-else class="btn btn-outline-dark" href="/funcionarios">Cancelar</a>

					<button v-on:click="atualizarFuncionario()" v-if="editando" type="button"
						class="btn btn-primary">Atualizar</button>
					<button v-on:click="salvarFuncionario()" v-else type="button" 
						class="btn btn-success">Salvar</button>
				</div>
			</form>

			<form v-if="cadastrandoSetor">
				<div class="form-group">
					<input type="text" v-model="setorNovo.nome" class="form-control" 
							required=true placeholder="Digite o nome do novo setor">
				</div>

				<button type="button" v-on:click="cadastrandoSetor = false, alertaErro = ''" 
						class="btn btn-outline-dark">Cancelar</button>
				<button type="button" v-on:click="salvarSetor()" 
						class="btn btn-success">Salvar</button>
			</form>
		</section>
	</div>
	
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>
</body>

</html>