<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-store" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title>Funcionários - Início</title>
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-light bg-light">
			<h4 class="p-3">Lista dos funcionários</h4>
		</nav>
	</header>

	<div id="inicio" class="container mt-5 ml-2">
		<a class="mb-4 btn btn-primary" href="pages/novo-funcionario.html">
			Novo funcionario
		</a>

		<table class="table table-hover">
			<caption>Tabela de funcionários</caption>
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Setor</th>
					<th scope="col">Salário</th>
					<th scope="col">Email</th>
					<th scope="col">Idade</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody id="event-table">
				<tr v-for="funcionario in lista">
					<td>{{ funcionario.nome }}</td>
					<td>{{ funcionario.setor.nome }}</td>
					<td>{{ funcionario.salario }}</td>
					<td>{{ funcionario.email }}</td>
					<td>{{ funcionario.idade }}</td>
					<td><span v-on:click="prepararEdicao(funcionario)" class="btn btn-sm" 
							title="Editar Funcionário">&#9998;</span></td>
               <td><span v-on:click="excluirFuncionario(funcionario.id)" class="btn btn-sm" 
						title="Excluir Funcionário">&#10006;</span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>

</html>